<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('index') }}">Exit Auction</a></li>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
  <script>
    var timeoutId = 0;

    function resetTimer() {
        clearTimeout(timeoutId);
        timeoutId = setTimeout(redirectToHome, 10000); // Redirect to home after 10 (10000) seconds of inactivity
    }

    function redirectToHome() {
        window.location.href = "{{ url_for('home') }}";
    }

    document.addEventListener("mousemove", resetTimer);
    document.addEventListener("keydown", resetTimer);
  </script>
</html>
