
{% extends "base.html" %}

{% block content %}
  <h1 style="text-align: center; font-size: 36px;">Bidding on {{ image_name }}</h1>
  <h2 style="text-align: center; font-size: 24px; color: gray">Bidding as {{ name }}</h2>
  <img src="{{ url_for('static', filename='images/' + filename + '.jpg') }}" alt="{{ image_name }}"  width="400" style="display: block; margin: 0 auto;">
  <p style="text-align: center; font-size: 18px;">Current highest bid: {{ session.get(image_name + '_highest_bid', 0) }} by {{ session.get(image_name + '_highest_bidder', 'No one yet') }}</p>

  <form method="POST" style="display: flex; flex-direction: column; align-items: center;">
    <label for="bid" style="font-size: 16px; margin-bottom: 10px;">Enter your bid:</label>
    <input type="number" name="bid" id="bid" required style="padding: 10px; font-size: 16px; border-radius: 5px; margin-bottom: 10px;">
    <div style="display: flex; flex-direction: row;">
      <button type="submit" style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer; margin-right: 10px;">Place Bid</button>
      <button type="submit" style="background-color: #f44336; color: white; padding: 10px 20px; border: none; border-radius: 5px; font-size: 16px; cursor: pointer;">Go Back</button>
    </div>
  </form>
{% endblock %}
<script>
    resetTimer();
</script>
